/* 
*{
  margin: 0%;
  padding: 0%;
} */

*{
  -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
  display: none;
  }
/* .mainContainer{
  /* min-height: auto;
 } */
 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} 